<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Practice Suite" parallel="none" thread-count="2">
	<listeners>
		<listener class-name="com.wallethub.retryCase.RetryAnnotation" />
	</listeners>
	<test name="Test Basics 1">
		<parameter name="browsername" value="chrome" />
		<classes>
			<class name="com.wallethub.testfactory.TestRunner" />
		</classes>
	</test>

	

</suite>
